html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
}

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 24px;
  color: rgba(21, 12, 1, 0.7);
  margin: 0 auto;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 31px;
  color: #150C01;
  line-height: 35px;
}
h3 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #150C01;
  line-height: 24px;
}
h4 {
  font-family: 'Philosopher', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #DC780B;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
p {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: rgba(21, 12, 1, 0.7);
  line-height: 24px;
}

.app-burger {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: rgba(138, 43, 226, 0.2);
}

.header {
  padding: 20px 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu-logo {
  margin-right: 15px; 
  }
.header__menu img {
  width: 70px;
} 
.header__menu-list {
  display: flex;
}
.header__menu-item {
  margin: 0 20px;  
  font-weight: 500; 
}


.menu {
  padding-bottom: 20px;
}
.menu__cards {
  margin: 60px 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.menu__btn {
  text-align: center;
}

.menu-card {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-top-left-radius: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.menu-card__img {
  border-top-left-radius: 80px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 0;
}
.menu-card__content {
  padding: 21px 25px 25px;
}
.menu-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.menu-card__order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.menu-card__order-btn {
  width: 36px;
  height: 34px;
  background-color: #DC780B;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
} 


.footer {
  padding: 20px 0;
  background-color: rgba(138, 43, 226, 0.5);
  margin: 0 -15px;
}
.footer__inner {
  display: flex;
}

.footer__content {
  max-width: 262px;
  width: 100%;
  margin-right: 30px;
}
.footer__content-logo {
  display: block;
  margin-bottom: 25px;
}
   
.footer__content-title {
  font-weight: 500;
}
.footer__content-list {
  margin-top: 20px;
}
.footer__content-item {
  margin-bottom: 20px;
  display: block;
}
.footer__content-soc__list {
  display: flex;
  margin-top: 5px;
}
.footer__content-soc__item + .footer__content-soc__item{
  margin-left: 10px;
}
